<a href="https://colab.research.google.com/github/wsawebmaster/py_api_banco_central/blob/main/API_BancoCentral.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import requests

link = 'https://olinda.bcb.gov.br/olinda/servico/mecir_dinheiro_em_circulacao/versao/v1/odata/informacoes_diarias?$top=100000&$skip=0&$orderby=Data%20desc&$format=json'

requisicao = requests.get(link)
informacoes = requisicao.json()

#print(informacoes)

#import pprint
#pprint.pprint(informacoes)

In [ ]:
import pandas as pd

tabela = pd.DataFrame(informacoes["value"])
#Recomenda-se realizar a formatação somente após a tratativa das informações pois ela converte em texto
#tabela['Quantidade'] = tabela['Quantidade'].map("{:,}".format) #separador de milhar
#tabela['Valor'] = tabela['Valor'].map("R$ {:,.2f}".format) #estilo moeda e casa decimal
display(tabela)

             Data  Quantidade         Valor Denominacao  Especie
0      2022-09-15  3191087463  3.191087e+07        0.01   Moedas
1      2022-09-15  7473454321  3.736727e+08        0.05   Moedas
2      2022-09-15  7693135613  7.693136e+08        0.10   Moedas
3      2022-09-15  3393052237  8.482631e+08        0.25   Moedas
4      2022-09-15  3441376445  1.720688e+09        0.50   Moedas
...           ...         ...           ...         ...      ...
88004  1994-10-03   181609358  1.816094e+08        1.00   Moedas
88005  1994-10-03   252922174  1.264611e+09        5.00  Cédulas
88006  1994-10-03   273630983  2.736310e+09       10.00  Cédulas
88007  1994-10-03    28945486  1.447274e+09       50.00  Cédulas
88008  1994-10-03     2841789  2.841789e+08      100.00  Cédulas

[88009 rows x 5 columns]

In [ ]:
# pegar todas as informações com várias requisições

tabela_final = pd.DataFrame()
pular_indice = 0

while True:
  link = f'https://olinda.bcb.gov.br/olinda/servico/mecir_dinheiro_em_circulacao/versao/v1/odata/informacoes_diarias?$top=10000&$skip={pular_indice}&$orderby=Data%20desc&$format=json'
  requisicao = requests.get(link)
  informacoes = requisicao.json()
  tabela = pd.DataFrame(informacoes["value"])
  if len(informacoes['value']) < 1:
    break
  tabela_final = pd.concat([tabela_final, tabela]) #concatena
  pular_indice += 10000

display(tabela_final)

            Data  Quantidade         Valor Denominacao  Especie
0     2022-09-15  3191087463  3.191087e+07        0.01   Moedas
1     2022-09-15  7473454321  3.736727e+08        0.05   Moedas
2     2022-09-15  7693135613  7.693136e+08        0.10   Moedas
3     2022-09-15  3393052237  8.482631e+08        0.25   Moedas
4     2022-09-15  3441376445  1.720688e+09        0.50   Moedas
...          ...         ...           ...         ...      ...
8004  1994-10-03   181609358  1.816094e+08        1.00   Moedas
8005  1994-10-03   252922174  1.264611e+09        5.00  Cédulas
8006  1994-10-03   273630983  2.736310e+09       10.00  Cédulas
8007  1994-10-03    28945486  1.447274e+09       50.00  Cédulas
8008  1994-10-03     2841789  2.841789e+08      100.00  Cédulas

[88009 rows x 5 columns]